################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IFJ/v16/Browse.VC.opendb
/.vs/IFJ/v16/Browse.VC.db
